<div class="container" mat-typography>
    <mat-card class="seminar-card">
        <img mat-card-image src="../../../../assets/asphalt-auto-autobahn-133826.jpg" alt="photo of outside mirror">
        <button mat-icon-button color="warn">
            <mat-icon aria-label="Example icon-button with a heart icon" id="faved">favorite</mat-icon>
        </button>
        <mat-card-content>
          <h1 mat-headline>Buiten spiegels</h1>
          <p mat-subheading-2>
           alles over het bijstellen na vervanging of reparatie
          </p>
          <p mat-caption>
            instructeur: persoon 1
          </p>
    
        </mat-card-content>
        <mat-card-actions>
    
          <mat-expansion-panel>
              <mat-expansion-panel-header>
              </mat-expansion-panel-header>
            
              <button mat-raised-button color="accent">INSCHRIJVEN</button>
              <button mat-raised-button color="accent">KIES DATUM</button>
            
            </mat-expansion-panel>
        </mat-card-actions>
      </mat-card>    
</div>
