<app-header></app-header>

<div id="container" class="mat-typography">
    <div class="bgOne">
  
      </div>
      <div class="bgTwo">
    
      </div>
      <div class="bgThree">
    
      </div>
      <img src="../../../assets/Path 131.svg" alt="" id="namingBar">
    <div class="grid">
        <div class="span-row-6"><app-sidenav></app-sidenav></div>
        <div class="span-row-3"><app-seminars></app-seminars></div>
        <div class="span-row-3"><app-seminars></app-seminars></div>
        <div class="span-row-3"><app-seminars></app-seminars></div>
        <div class="span-row-3"><app-seminars></app-seminars></div>
      </div>

     
      










      
      
</div>

  
