<mat-list>
    <mat-list-item><button mat-raised-button color="primary" id="seminar">SEMINARS</button></mat-list-item>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-list-item><button mat-raised-button color="primary" id="mijnSeminar">OVERZICHT</button></mat-list-item>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-list-item><button mat-raised-button color="primary" id="mijnSeminar">INSTELLINGEN</button></mat-list-item>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-list-item><button mat-raised-button color="primary" id="mijnSeminar" routerLink="/">UITLOGGEN</button></mat-list-item>
    <mat-divider [vertical]="true"></mat-divider>
</mat-list>
