.login-card {
    margin-top: 10%;
    background-color: #212121;
}

mat-form-field {
    margin-left: 50%;
    
}

.container {
   position: relative;
   height: 100%;
   width: 30%;
   margin-left: 25%
   
}

#joinButton {
    margin-top: 20px;
}

#emailnotgetButton {
    margin-top: 20px
}

.container > * {
    width: 100%;
    height: 100%;
    margin-left: 20%;
}

img.stripes {
    width: 100%;
    z-index: -1;
    margin-top: -40%;
    margin-left: -35%;
}
h1 {
    margin-left: 25%;
}

form {
    margin-left: 25%;

}

/* .align-right {
    text-align: right;
} */

input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
  display: none;
}

input.right-align {
    -moz-appearance: textfield;
  }

.emailForm {
    margin-top: 5%;
    margin-left: 3%;
    width: 70%;
}

.passwordForm{
    margin-top: 5%;
    margin-left: 3%;
    width: 70%;
}

.passwordConfirmForm {
    margin-top: 5%;
    margin-left: 3%;
    width: 70%;
}