<div id="container" class="mat-typography">
    <div id="inner">
      <img src="../../../assets/SEMICAR.svg" id="logo">
      <h1>Seminars voor alles over auto's</h1>
      <p id="subtitle">
          Reparaties, handige know-how's en meer...
      </p>
      <button mat-raised-button id="Join" routerLink="/registreren">JOIN NOW</button>
      <button mat-raised-button color="accent" id="login" routerLink="/login">LOG IN</button>
      <span></span>
      <button mat-button color="accent">INSTRUCTEURS</button>
      
  
    </div>
    <div id="illustration">
      <img src="../../../assets/BrainLamp.svg" id="BrainIcon" class="icons">
      <img src="../../../assets/CertificateDone.svg" id="CertIcon" class="icons">
      <img src="../../../assets/LearningCoG.svg" id="CogIcon" class="icons">
      <img src="../../../assets/RedLines.svg" id="Lines" class="icons">
      <img src="../../../assets/StartLearningChip.svg" id="ChipIcon" class="icons">
      <img src="../../../assets/Monitor.svg" id="Monitor">
    </div>
  
  
    <div class="bgOne">
  
    </div>
    <div class="bgTwo">
  
    </div>
    <div class="bgThree">
  
    </div>
  </div>
  
  <router-outlet></router-outlet>
  
